*{
    /* color: white; */
    font-family: Merriweather;
}

.Footer{
    width: 100%;
    background-color: brown;
    padding: 40px 0px 40px 0px;
    color: white;
    
}

.Footer-Child{
    width: 90%;
    height: 80%;
    margin: auto;
    /* border: 1px solid greenyellow; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
    grid-template-rows:  repeat(auto-fill) ; 
    grid-gap: 20px 20px;
    
}

.Footer-Child > div{
    padding: 20px;
    font-size: 17px;
}
.Footer-Child > div :nth-child(1){
   width: 250px;
}

.payment-mode{
    width: 100%;
    /* border: 1px solid greenyellow; */
    display: grid;
    /* display: flex; */
    grid-template-columns: repeat(auto-fill, minmax(60px, max-content));
    /* grid-template-rows:  repeat(auto-fill, minmax(40px, max-content)) ; 
    /* grid-gap: 20px 20px;  */
    /* padding: 0px 2px 0px 2px; */
}

.payment-mode > div {
    /* width: 60px;
    height: 40px; */
    /* margin: 0px 2px 0px 3px; */
    /* border: 1px solid blue; */
}
.payment-mode > div > img{
    width: 100%;
    height: 40px;
    margin: 0px 2px 0px 3px;
}