@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@114.7,601&family=Frank+Ruhl+Libre&family=Manrope:wght@200;300&display=swap');


*{
    font-family: 'Manrope', sans-serif;
}

.tophead {
    justify-content: center;
    align-items: center;
    width: 100%;
}
.tophead > button {
    font-size: 45px;
}
.totaldata {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: inline-flex;
    margin-top: 60px;

}
.totaldata > div {
    padding: 6px 10px;
    font-size: 22px;
    font-weight: 600;
}


.products-button {
    width: 80%;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.products-button > button {
    margin: auto;
    border: 1px solid #7e222e;
    padding: 6px 10px;
    background: #9027354a;
    border-radius: 8px;
    color: black;
}

.productsdisplay {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 5px;
    margin: auto;
    align-items: center;
    justify-content: center;
}