@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@114.7,601&family=Frank+Ruhl+Libre&family=Manrope:wght@200;300&display=swap');



.product-card {
     /* border: 1px solid red; */
    width: 90%; 
    /* height: 300px; */
    /* max-height: 500px; */
    display: inline-block; 
    justify-content: center; 
    align-items: center;  

} 

.product-card > .image-div {
    width: 98%;
    height: 60%;
    
}  

.product-card > .image-div > img{
    /* width: 300px; */
     /* height: 300px; */
    width: 100%;
    height: auto;
}
