@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@114.7,601&family=Frank+Ruhl+Libre&family=Manrope:wght@200;300&display=swap');

.Heading {
    width: 35vw;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 25px;   
}
.Heading > button {
    width: 85%;
    padding: 8px 10px;
    font-size: 40px;
    color: #7e222e;
    font-family: 'Manrope', sans-serif;
}

.container {
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    width: 35vw;
    height: 100vh;
    margin-top: 50px;
    display: inline-block;
}
.container > input {
    position: relative;
    width: 98%;
    font-size: 16px;
    padding: 8px 10px;
    margin-bottom: 13px;
    border-radius: 8px;
    outline: none;
    border: none;
    background: #9027354a;
    font-family: 'Manrope', sans-serif;
    color: black;

}
.container > select {
    width: 99%;
    position: relative;
    font-size: 16px;
    padding: 6px 8px;
    border: 1px solid #7e222e;
    border-radius: 8px;
    margin-bottom: 13px;
    font-family: 'Manrope', sans-serif;
    color: black;
}
.add-button {
    width: 28%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #9027354a;
    margin: auto;
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 10px;
    border: 1px solid #7e222e;
    letter-spacing: 2px;
    font-family: 'Manrope', sans-serif;

}