.Main-div{
    width: 100%;
    /* border: 1px solid seagreen; */
    
}

.product{
    width: 90%;
    /* border: 1px solid seagreen; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, max-content));
    grid-template-rows:  repeat(auto-fill) ; 
    gap:  40px 20px;
    padding: 50px 0px 50px 0px;
}

.product > div {
    /* width: 100%; */
    /* border: 1px solid red; */
}
.product > div > img {
    width: 100%;
}