*{
    font-family:Merriweater;
}

.Header{
    width: 100%;
    display: flex;
    gap: 20px   ;
    justify-content: center;
    color: white;
    background-color: brown;
    padding: 10px 0px;
    text-decoration: none;
}
.headers-child{
    font-weight: bold;
    text-decoration: none;
}
.Header .headers-child:hover {
    cursor: pointer;
    color:rgb(14, 11, 11);
} 